<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="fake_depth" default="false" />

    <include file="$(find curiosity_mars_rover_navigation)/launch/include/lasers.launch">
        <arg name="fake_depth" value="$(arg fake_depth)"/>
    </include>

    <node name="curiosity_rover_obstacles_node" pkg="curiosity_mars_rover_navigation" type="obstacle_service.py" respawn="false" output="screen" args="" />

    <node name="curiosity_rover_teleop_keyboard_node" pkg="curiosity_mars_rover_navigation" type="teleop_keyboard_obstacles.py" respawn="false" output="screen" args="" />
</launch>
