<?xml version="1.0"?>
<model>
  <name>photogrammetry</name>
  <version>0.1.0</version>
  <author>
   <name>Owl Creek Technologies</name>
  </author>
  <sdf>photogrammetry.sdf</sdf>
  <description>
    3D model derived from Ingenuity stereo photos on Flight 12 SOL-174
    Source: https://sketchfab.com/3d-models/ingenuity-on-flight-12-sol-174-c8dfa207dd16498295673f5d80a52e2f
  </description>
</model>
