<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="chassis_body" params="">

		<!-- Used for fixing robot to Gazebo 'chassis' -->
		<link name="base_link"/>

		<joint name="base_joint" type="fixed">
			<parent link="base_link"/>
			<child link="chassis"/>
			<!-- ROS conventions specify thgt robots should face the X axis-->
			<origin xyz="0 0 0" rpy="0 0 1.57079632679"/>
		</joint>


		<link name='chassis'>

			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<mesh filename="package://curiosity_mars_rover_description/meshes/chassis_full_fixed_glitch_v2.dae" scale="${scale_XYZ} ${scale_XYZ} ${scale_XYZ}"/>
				</geometry>
			</collision>

			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<mesh filename="package://curiosity_mars_rover_description/meshes/chassis_full_fixed_glitch_v2.dae" scale="${scale_XYZ} ${scale_XYZ} ${scale_XYZ}"/>
				</geometry>
			</visual>

			<inertial>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="${chassisMass}"/>
				<xacro:box_inertia
                    m="${chassisMass}"
                    x="${chassisWidth*scale_XYZ}"
                    y="${chassisLength*scale_XYZ}"
                    z="${chassisHeight*scale_XYZ}"/>
			</inertial>

		</link>

        <!-- These definitions are borrowed from the Jackal. -->
        <link name="imu_link">
            <inertial>
            <mass value="0.001"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1e-09" ixy="0.0" ixz="0.0" iyy="1e-09" iyz="0.0" izz="1e-09"/>
            </inertial>
        </link>
        <joint name="imu_joint" type="fixed">
            <parent link="chassis"/>
            <child link="imu_link"/>
        </joint>

        <link name="navsat_link">
            <visual>
                <geometry>
                    <cylinder radius="0.026" length="0.016"/>
                </geometry>
                <origin xyz="0 0 0"/>
                <material name="green"/>
                </visual>
            <collision>
                <origin rpy="0.0 0 0" xyz="0 0 0"/>
                <geometry>
                    <box size="0.0005 0.0005 0.0005"/>
                </geometry>
                <material name="green"/>
            </collision>
        </link>
        <joint name="navsat_joint" type="fixed">
            <parent link="chassis"/>
            <child link="navsat_link"/>
            <origin xyz="0 0 0"/>
        </joint>

        <xacro:unless value="$(arg simple_camera)">
            <xacro:camera 
                camera_name="mardi"
                topic_name="mardi"
                rot="-3.141592653589793 0 0"
                pos="0.647759 -0.673666 -0.225013"
                parent="chassis"
                resolution_x="1600"
                resolution_y="1200"
                fov="1.22173"
                format="R8G8B8"/>

            <xacro:if value="$(arg fake_depth)">
                <xacro:fake_depth_camera 
                    camera_name="fronthazcam"
                    rot="-2.35619449018 0 3.141592653589793"
                    pos="0.086741 -0.940979 -0.176784"
                    parent="chassis"
                    resolution="1024"
                    fov="1.3962634"
                    baseline="0.1596"/>

                <xacro:fake_depth_camera
                    camera_name="backhazcam"
                    rot="-2.35619449018 0 0"
                    pos="0.452052 1.06956 -0.114811"
                    parent="chassis"
                    resolution="1024"
                    fov="1.3962634"
                    baseline="0.0988"/>
            </xacro:if>

            <xacro:unless value="$(arg fake_depth)">
                <xacro:camera 
                    camera_name="fronthazcam_left"
                    topic_name="fronthazcam/left"
                    rot="-2.35619449018 0 3.141592653589793"
                    pos="0.086741 -0.940979 -0.176784"
                    parent="chassis"
                    resolution_x="1024"
                    resolution_y="1024"
                    fov="1.3962634"
                    format="R8G8B8"/>
                
                <xacro:camera 
                    camera_name="fronthazcam_right"
                    topic_name="fronthazcam/right"
                    rot="-2.35619449018 0 3.141592653589793"
                    pos="-0.072925 -0.940979 -0.176784"
                    parent="chassis"
                    resolution_x="1024"
                    resolution_y="1024"
                    fov="1.3962634"
                    format="R8G8B8"/>

                <xacro:camera 
                    camera_name="backhazcam_left"
                    topic_name="backhazcam/left"
                    rot="-2.35619449018 0 0"
                    pos="0.452052 1.06956 -0.114811"
                    parent="chassis"
                    resolution_x="1024"
                    resolution_y="1024"
                    fov="1.3962634"
                    format="R8G8B8"/>
                
                <xacro:camera 
                    camera_name="backhazcam_right"
                    topic_name="backhazcam/right"
                    rot="-2.35619449018 0 0"
                    pos="0.550881 1.06956 -0.114811"
                    parent="chassis"
                    resolution_x="1024"
                    resolution_y="1024"
                    fov="1.3962634"
                    format="R8G8B8"/>
            </xacro:unless>
        </xacro:unless>
	</xacro:macro>

</robot>
