<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="fake_depth" default="false" />
    <arg name="simple_camera" default="false"/>
    <group unless="$(arg fake_depth)">
        <group unless="$(arg simple_camera)">
            <node name="rviz" pkg="rviz" type="rviz" args="-d $(find curiosity_mars_rover_viz)/rviz/curiosity_mars_rover.rviz" />
        </group>
        <group if="$(arg simple_camera)">
            <node name="rviz" pkg="rviz" type="rviz" args="-d $(find curiosity_mars_rover_viz)/rviz/curiosity_mars_rover_lite.rviz" />
        </group>
    </group>

    <group if="$(arg fake_depth)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find curiosity_mars_rover_viz)/rviz/curiosity_mars_rover_fake_depth.rviz" />
    </group>
</launch>
